    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
.btn-primary:hover{
    background-color: #252525 !important;
    transition:all 0.5s ease-in-out;
}
    body {
      font-family: Arial, sans-serif;
      background: #f4f4f4;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2em;
      padding: 1em 1em;
    }
      /*Welcome */
    .welcome {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5em 0.5em;
      width: 100%;
      background: #64a0e0;
      color: white;
      border-radius: 10px;
    }


    /*Content Card */
    .card {
      background: white;
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 1em 1em;
      width: 300px;
      min-width: 290px;
      display: flex;
      gap: 0.5em;
      flex-direction: column;
      align-items: center;
    }

  
    /*Pricing*/
    .pricing {
      display: flex;
      gap: 1.1em;
      justify-content: center;
    }

    .plan {
         display: flex;
     flex-direction: column;
     gap: 0.3em;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 0.7em 0.7em;
      max-width: 300px;
      min-width: 300px;
      text-align: center;
    }
  .plan h3{
    margin-bottom: 0.5em;
  }
    /*Article */
    .article {
      background: #fff;
     display: flex;
     flex-direction: column;
     gap: 0.5em;
       border: 1px solid #ccc;
      padding: 1.5rem;
      max-width: 700px;
      border-radius: 8px;
      line-height: 1.6;
  
    }
 @media (max-width: 950px){
    .pricing{
        display: flex;
        flex-wrap: wrap;
    }
 }